@(user: User)

@main(user) {
@wflash()
<div class="col-lg-6">
    LABYRINTH Example<br>
    @user.toString()<br>
    @user.world.toString()<br>
    @user.world.currentCell.labyrinth.toString()<br><br>
    @Messages("user.timeInLabyrinth"): @user.getFormattedTime<br>
    @Messages("user.thirst"):@Html(user.getFormattedThirst)<br>
    @Html(user.world.getMapObjectsOnCurrentCell)
</div>

<div class="col-lg-6">
    <div class="well">
        <h1>@user.world.currentCell.labyrinth.title</h1>
        @Html(user.world.currentCell.labyrinth.getMap)
        <a href="@routes.Dashboard.exitWorld">@Messages("labyrynth.exit")</a>
    </div>

    <div class="well">
        storage
    </div>
</div>
}